# 피벗 Table

1. 피벗? 회전하는 물체의 균형을 잡아주는 중심점(원의 중심점과 흡사)
2. 피벗 테이블? 여러 테이블 중에서 자신이 원하는 데이터만으로 원하는 행과 열에 데이터를 재배치하여 새로운 데이터를 구조화

In [2]:
import numpy as np
import pandas as pd

In [3]:
data = {"소속": ["jyp", "psy", "jyp", "jyp", "jyp", "jyp", "psy", "psy", "psy"],
        "가수": ["비", "제시", "박진형", "원더걸스", "제니", "샤샤", "현아", "싸이", "하니"],
        "성별": ['남자', '여자', '남자', '여자', '여자', '여자', '여자', '남자', '여자'],
        "연령": [15, 20, 20, 30, 30, 40, 50, 60, 70]}
data

{'소속': ['jyp', 'psy', 'jyp', 'jyp', 'jyp', 'jyp', 'psy', 'psy', 'psy'],
 '가수': ['비', '제시', '박진형', '원더걸스', '제니', '샤샤', '현아', '싸이', '하니'],
 '성별': ['남자', '여자', '남자', '여자', '여자', '여자', '여자', '남자', '여자'],
 '연령': [15, 20, 20, 30, 30, 40, 50, 60, 70]}

In [5]:
df = pd.DataFrame(data)
df

    소속    가수  성별  연령
0  jyp     비  남자  15
1  psy    제시  여자  20
2  jyp   박진형  남자  20
3  jyp  원더걸스  여자  30
4  jyp    제니  여자  30
5  jyp    샤샤  여자  40
6  psy    현아  여자  50
7  psy    싸이  남자  60
8  psy    하니  여자  70

In [7]:
df['연령'].mean()

37.22222222222222

In [9]:
int(df['연령'].mean())

37

In [11]:
np.mean(df['연령'])

37.22222222222222

In [12]:
int(np.mean(df['연령']))

37

In [16]:
import warnings
warnings.filterwarnings('ignore')

In [17]:
df['총연령'] = df['연령'].sum()
df

    소속    가수  성별  연령  총연령
0  jyp     비  남자  15  335
1  psy    제시  여자  20  335
2  jyp   박진형  남자  20  335
3  jyp  원더걸스  여자  30  335
4  jyp    제니  여자  30  335
5  jyp    샤샤  여자  40  335
6  psy    현아  여자  50  335
7  psy    싸이  남자  60  335
8  psy    하니  여자  70  335

In [18]:
table = df.pivot_table(values='연령', index=['소속'], columns=['성별'])
table

성별     남자         여자
소속
jyp  17.5  33.333333
psy  60.0  46.666667

In [19]:
table.astype('int8')

성별   남자  여자
소속
jyp  17  33
psy  60  46

In [21]:
table = df.pivot_table(values='연령', index=['소속'], columns=['성별'], aggfunc=['mean', 'sum'])
table =table.astype('int32')
table

    mean     sum
성별    남자  여자  남자   여자
소속
jyp   17  33  35  100
psy   60  46  60  140

In [24]:
table = df.pivot_table(values='연령', index='소속', columns='가수')
table

가수    박진형     비    샤샤    싸이  원더걸스    제니    제시    하니    현아
소속
jyp  20.0  15.0  40.0   NaN  30.0  30.0   NaN   NaN   NaN
psy   NaN   NaN   NaN  60.0   NaN   NaN  20.0  70.0  50.0

In [27]:
table.fillna('', inplace=True)
table

가수  박진형   비  샤샤  싸이 원더걸스  제니  제시  하니  현아
소속
jyp  20  15  40       30  30
psy              60           20  70  50