**datetime 모듈**
- date : 연, 월, 일
- time : 시간, 분, 초, 마이크로초(백만분의 1초)
- datetime : date와 time요소


**timestamp 모듈**
- 날짜와 시간 모두 포함(나노초 : 10억분의 1초) 단위의 정밀도
- 단일 정수나 실수를 전달하면 유닉스 탄생시각(1970년 1월 1일)부터 경과된 시각을
나노초로 전달
- numpy의 datetime64데이터 형식에서 도출

**timedelta**
- 날짜의 덧셈과 뺄셈에 유용

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('input/personinfo.csv')
df

  name             birth                  email
0  이영자   2021-01-01 9:10       happy@gmail.com
1  신동엽   2021-01-08 9:20          sin@naver.com
2  정찬우  2021-02-01 10:20   Iron at yahoo.co.kr
3  김태우  2021-02-02 11:40      \tWidow@gmail.com
4  이정희  2021-02-28 15:10        thor@daum.net\t
5  이나영  2021-06-30 21:20       loki88@gmail.com
6  이정인  2021-07-20 23:30         fury@naver.com
7  유재석  2021-08-28 11:48        FALCON@daum.net
8  백종원   2021-09-01 3:12       kim at gmail.com

In [3]:
df.columns

Index(['name', 'birth', 'email'], dtype='object')

In [4]:
df['birth']

0     2021-01-01 9:10
1     2021-01-08 9:20
2    2021-02-01 10:20
3    2021-02-02 11:40
4    2021-02-28 15:10
5    2021-06-30 21:20
6    2021-07-20 23:30
7    2021-08-28 11:48
8     2021-09-01 3:12
Name: birth, dtype: object

In [5]:
df['birth'] = pd.to_datetime(df['birth'], format='%Y-%m-%d %H:%M:%S', errors='raise')
df

  name               birth                  email
0  이영자 2021-01-01 09:10:00       happy@gmail.com
1  신동엽 2021-01-08 09:20:00          sin@naver.com
2  정찬우 2021-02-01 10:20:00   Iron at yahoo.co.kr
3  김태우 2021-02-02 11:40:00      \tWidow@gmail.com
4  이정희 2021-02-28 15:10:00        thor@daum.net\t
5  이나영 2021-06-30 21:20:00       loki88@gmail.com
6  이정인 2021-07-20 23:30:00         fury@naver.com
7  유재석 2021-08-28 11:48:00        FALCON@daum.net
8  백종원 2021-09-01 03:12:00       kim at gmail.com

In [6]:
day = (df['birth'] - pd.to_datetime('2020-10-01'))
day

0    92 days 09:10:00
1    99 days 09:20:00
2   123 days 10:20:00
3   124 days 11:40:00
4   150 days 15:10:00
5   272 days 21:20:00
6   292 days 23:30:00
7   331 days 11:48:00
8   335 days 03:12:00
Name: birth, dtype: timedelta64[ns]

In [7]:
type(day)

pandas.core.series.Series

In [8]:
# 경과일 계산
'''
1. timedelta[?]
2. ? - Y:year, M:month, D:day, m:minute, s:sec
'''

day.astype('timedelta64[D]').astype('int')

0     92
1     99
2    123
3    124
4    150
5    272
6    292
7    331
8    335
Name: birth, dtype: int32

In [9]:
df['email']

0         happy@gmail.com
1            sin@naver.com
2     Iron at yahoo.co.kr
3        \tWidow@gmail.com
4          thor@daum.net\t
5         loki88@gmail.com
6           fury@naver.com
7          FALCON@daum.net
8         kim at gmail.com
Name: email, dtype: object

In [10]:
df['email'] = df['email'].str.strip()
df['email']

0        happy@gmail.com
1          sin@naver.com
2    Iron at yahoo.co.kr
3        Widow@gmail.com
4          thor@daum.net
5       loki88@gmail.com
6         fury@naver.com
7        FALCON@daum.net
8       kim at gmail.com
Name: email, dtype: object

In [11]:
'''문자열 길이 맞추기'''

'문자열 길이 맞추기'

In [12]:
df['email'].str.pad(width=20, side='left', fillchar=' ')

0         happy@gmail.com
1           sin@naver.com
2     Iron at yahoo.co.kr
3         Widow@gmail.com
4           thor@daum.net
5        loki88@gmail.com
6          fury@naver.com
7         FALCON@daum.net
8        kim at gmail.com
Name: email, dtype: object

In [14]:
df['email'] = df['email'].str.replace(' at ', '@')
df

  name               birth             email
0  이영자 2021-01-01 09:10:00   happy@gmail.com
1  신동엽 2021-01-08 09:20:00     sin@naver.com
2  정찬우 2021-02-01 10:20:00  Iron@yahoo.co.kr
3  김태우 2021-02-02 11:40:00   Widow@gmail.com
4  이정희 2021-02-28 15:10:00     thor@daum.net
5  이나영 2021-06-30 21:20:00  loki88@gmail.com
6  이정인 2021-07-20 23:30:00    fury@naver.com
7  유재석 2021-08-28 11:48:00   FALCON@daum.net
8  백종원 2021-09-01 03:12:00     kim@gmail.com

In [17]:
# email 에서 id값만 도출하기
df['email'].str.split('@', n=1)

0     [happy, gmail.com]
1       [sin, naver.com]
2    [Iron, yahoo.co.kr]
3     [Widow, gmail.com]
4       [thor, daum.net]
5    [loki88, gmail.com]
6      [fury, naver.com]
7     [FALCON, daum.net]
8       [kim, gmail.com]
Name: email, dtype: object